@using WebStoreApp.Application.DTO
@model CustomerDto

@{
    ViewData["Title"] = "User List";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">User List</h3>
                    </div>

                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <!-- Search Form -->
                            <form id="searchForm" method="get" class="d-flex flex-grow-1">
                                <div class="input-group">
                                    <input type="text" id="searchTerm" name="searchTerm" class="form-control" placeholder="Search" value="@Model.SearchTerm">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
                                    </div>
                                </div>
                                <button class="btn btn-outline-secondary ml-2" type="button" id="clearSearch">Clear</button>
                            </form>

                            <!-- Add Customer Button -->
                            <a href="@Url.Action("AddUser", "Customer")" class="btn btn-primary ml-3">Add Customer</a>
                        </div>

                        <div id="searchResults">
                            @await Html.PartialAsync("_CustomerListPartial", Model)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/common/pagination.js" asp-append-version="true"></script>
}

